<h2>Airline details</h2>
<h3>Name:</h3> <%=@airline.airline_name%>
<h3>Logo:</h3>
<img class="logo" src="/images/<%=@airline.logo%>"/>

<form action="/airlines/<%=@airline.id%>/delete" method="POST">
  <input type="submit" value="DELETE <%=@airline.airline_name%>">
</form>

<form action="/airlines/<%=@airline.id%>/routes">
  <input type="submit" value="FLIGHT ROUTES <%=@airline.airline_name%>">
</form>