<h1>Deals</h1>

<table>
  <tr>
    <th>Id</th>
    <th></th>
    <th>Label</th>
    <th></th>
    <th>Weekday</th>
    <th></th>
    <th>Month</th>
    <th></th>
    <th>Discount</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Airline Id</th>
    <th></th>
    <th>Route Id</th>
  </tr>
  <%for deal in @deals%>
    <tr>
      <td><a href="/deals/<%=deal.id%>"><%=deal.id%></a></td>
      <td></td>
      <td><%=deal.label()%></td>
      <td></td>
      <td><%=deal.weekday()%></td>
      <td></td>
      <td><%=deal.month()%></td>
      <td></td>
      <td><%=deal.discount()%></td>
      <td></td>
      <td><%=deal.type()%></td>
      <td></td>
      <td><a href="/airlines/<%=deal.airline_id%>"><%=deal.airline_id%></a></td>
      <td></td>
      <td><a href="/flight-routes/<%=deal.route_id%>"><%=deal.route_id()%></td>
    </tr>
  <%end%>
</table>